.container {
    width: 100;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/sea.png");
    background-size: cover;
    box-shadow: 8px 2px 6px rgba(122,11,155);
    border-radius: 10px;
}

.logo {
    width: 30%;
}

.logo img {
    display: block;
    width: 70%;
    margin: 0 auto;
    height: auto;
}

.title {
    width: 70%;
    margin: 0;
    text-align: center;
}

.title h1 {
    font-size: 64px;
    font-family: "Kokoro";
    font-weight: bold;
}